@import "tailwindcss";

:root {
  --font-krub: sans-serif; /* Fallback font */
}

body {
  font-family: var(--font-krub);
}
.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}
  button {
    @apply cursor-pointer;
  }
  /* Add this to your global CSS file */
.breadcrumbs ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.breadcrumbs li {
  margin-right: 0.5rem;
}

.breadcrumbs a {
  text-decoration: none;
  color: #0070f3;
}

.breadcrumbs a:hover {
  text-decoration: underline;
}